/* ===================== */
/* Layout Styles         */
/* ===================== */

/* Gallery Section */
.gallery-flex-large {
    width: 100%;
    min-height: 100vh;
    background-image: url("../assets/cover-photos/sky.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.gallery-item-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 2vw;
    padding-top: 10dvh;
    justify-content: center;
    width: 100%;
}


/* ===================== */
/* Component Styles      */
/* ===================== */

/* Topbar */
.topbar-flex {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px;
    position: fixed;
    z-index: 9999;
}

.topbar-h1 {
    font-size: 30px;
    font-weight: 500;
}

.topbar-links {
    display: flex;
    gap: 20px;
    margin-left: 50px;
    flex: 1;
    font-weight: 100;
}

.topbar-logo {
    width: 17px;
    border: 1px solid white;
    border-radius: 4px;
    margin-right: 20px;
    padding: 3px;
}

/* ===================== */
/* Utility Classes       */
/* ===================== */

.gallery-item-image-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 20vw;
    color: white;
    padding: 1vh;
    border-radius: 8px;
    margin: 1vh 0;
}

.gallery-item-image {
    height: 100%;
    width: auto;
    object-fit: contain;
    cursor: grab;
}


/* ===================== */
/* Responsive Queries    */
/* ===================== */

@media (max-width: 1000px) {
    .gallery-item-image-box {
        height: 30vw;
    }
}

@media (max-width: 800px) {
    .gallery-item-image-box {
        height: 80vw;
    }

    .gallery-flex-large{
        padding-top: 0;
    }
}

@media (max-width: 450px) {
    .topbar-links {
        margin-left: 10px;
        gap: 0;
    }

    .topbar-flex {
        padding-left: 0;
    }
}
