/* Topbar */
.topbar-flex {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px;
    position: fixed;
}

.topbar-h1 {
    font-size: 30px;
    font-weight: 500;
}

.topbar-links {
    display: flex;
    gap: 20px;
    margin-left: 50px;
    flex: 1;
    font-weight: 100;
}

.topbar-logo {
    width: 17px;
    border: 1px solid white;
    border-radius: 4px;
    margin-right: 20px;
    padding: 3px;
}

/* Landing Page Top */
.my-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.photo-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.overlay-text {
    position: absolute;
    top: 30%;
    font-size: 20px;
    left: 75%;
    color: white;
    padding: 10px;
    width: 180px;
    text-align: center;
    border: 2px solid white;
}

.overlay-text:hover{
    background-color: #69696980;
}

/* General Flex Section */
.general-flex-full {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column; /* stack children vertically */
    background-image: url("./assets/cover-photos/tennis-court.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.general-flex-main-row {
    display: flex;
    flex: 1 0 90vh; /* grow and shrink, base height 90vh */
}

.general-flex-topbar {
    width: 55%;
    height: 15vh;
    background-color: #e9f5f9;
}

.general-flex-side {
    align-content: right;
    width: 5%;
    background-color: #e9f5f9;
    height: 90vh;
}

.general-flex-left {
    background-color: #e9f5f9;
    width: 80%;
    height: 90vh;
    color: black;
}

.general-flex-text {
    margin-top: 30vh;
    margin-left: 10%;
    margin-right: 15%;
}

.general-text-body {
    font-size: 20px;
    margin-top: 5vh;
}

.general-button {
    padding: 10px;
    background-color: white;
    margin-top: 5%;
    border-radius: 10px;
    border: 1px solid black;
    width: fit-content;
}

.general-button:hover {
    cursor: grab;
}

.general-flex-bottom {
    height: 10vh;
    background-color: #e9f5f9;
    width: 100%;
}

.general-flex-header{
    font-size: 60px;
}

/* Gallery Section*/

.gallery-flex-large{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-bottom: 5vh;
}

.hamburger-icon {
  width: 30px;
  height: 3px;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  border-radius: 2px;
}

.hamburger-icon {
  width: 30px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.hamburger-icon span {
  display: block;
  height: 3px;
  background-color: white;
  border-radius: 2px;
}


.gallery-item-flex {
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;     
    align-items: flex-end; 
    gap: 2vw;           
    justify-content: center;  
    width: 100%;
}


.gallery-item-image-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 20vw;  
    color: black;
    padding: 1vh;
    border-radius: 8px;
    margin: 1vh 0;
}

.gallery-item-image {
    height: 100%;
    width: auto;
    object-fit: contain;
    cursor: grab;
}


@media (max-width: 1000px) {
    .gallery-item-image-box{
        height: 30vw;
    }

}

@media (max-width: 850px) {

    .overlay-text{
        left: 30%;
        top: 30%;
    }

}

@media (max-width: 800px) {
    .gallery-item-image-box{
        height: 60vw;
    }

    .general-flex-left {
        width: 100%;
        height: 0;
    }

    .general-flex-text{
        margin-top: 0;
        padding-top: 5vh;
        margin-left: 0;
        padding-bottom: 5vh;
        margin-right: 0;
        height: auto;
        background-color: #e9f5f9;
    }

    .general-flex-topbar{
        display: none;
    }
}

@media (max-width: 450px){
    .topbar-links{
        margin-left: 20px;
    }

    .topbar-flex{
        margin-left: 0px;
    }

    .general-flex-header{
        font-size: 45px;
    }

    .general-text-body{
        font-size: 20px;
        margin-top: 5vh;
    }

}

/* General */
.horizontal-bar-white {
    width: 100%;
    height: 2px;
    background-color: white;
}

.horizontal-bar-black {
    width: 100%;
    height: 1px;
    background-color: black;
}

